<div class="form"> 
    <h1>Cadastro Livro</h1><br>
    <h2><b>Registrar Livro</b></h2><br><br> 
    <label for="Título">Título: </label> 
    <input type="text"size="48" placeholder=" Informe o título do livro"><br><br>
    <label for="Paginas">Quantidade de páginas: </label>
    <input type="number" size="40" placeholder=" Informe quantas páginas"><br><br>
    <label for="Paginas">Idioma: </label>
    <input type="text" size="35" placeholder=" Informe o idioma do livro"><br><br>
    <label for="ano">Ano de publicação: </label>
    <input type="number" size="45" placeholder=" Informe o ano publicado"><br><br>
    <label for="Edição">Edição: </label>
    <input type="number" size="45" placeholder=" Informe a edição do livro"><br><br>
    <label for="Preço">Preço: </label>
    <input type="number" size="45" placeholder=" Informe o valor do livro"><br><br>
    <div class="button"> <input type="submit" value="Confirmar">
    </div><br>