<router-outlet>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">MIYAS</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cadautor">Cadastro Autor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cadeditora">Cadastro Editora</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cadlivro">Cadastro Livro</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cadusuario">Cadastro Usuario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cadendereco">Cadastro Endereço</a>
              </li><li class="nav-item">
                <a class="nav-link" href="cadfuncionario">Cadastro Funcionário</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</router-outlet>
