<div class="form"> 
    <h1>Cadastro Autor</h1><br>
    <h2><b>Registrar Autor</b></h2><br><br> 
    <label for="Nome">Nome:</label> 
    <input type="text"size="48" placeholder="Informe o nome do autor"><br><br>
    <label for="Endereço">Nacionalidade:</label>
    <input type="text" size="40" placeholder="Informe sua nacionalidade"><br><br> 
    <label for="Sexo:">Sexo:</label> &nbsp;
    <label for="mas">Masculino</label>
    <input type="radio" name="opcao" id="op1">
    <label for="fem">Feminino</label>
    <input type="radio" name="opcao" id="op1">
    <label for="outro">Prefiro não informar</label> 
    <input type="radio" name="opcao" id="op1">
    <br><br>
    <label for="data">Data de Nascimento:</label>
    <input type="date" name="data" id="data"><br><br>
    <div class="button"> <input type="submit" value="Confirmar">
    </div><br>
