<div class="form">
    <h1>Cadastro Endereço</h1><br>
    <h2><b>Registrar Endereço</b></h2><br><br>
    <label for="ID Cliente">ID Cliente:</label>
    <input type="number"size="40" placeholder="  Informe o ID do cliente"><br><br>
    <label for="descrição">Descrição:</label>
    <input type="text" size="40" placeholder="  Dê uma descrição sobre onde reside"><br><br>
    <label for="rua">Rua:</label>
    <input type="text" size="40" placeholder="  Informe a rua onde reside"><br><br>
    <label for="numero">Número:</label>
    <input type="number" size="40" placeholder="  Informe o número"><br><br>
    <label for="bairro">Bairro:</label>
    <input type="text" size="40" placeholder="  Informe o bairro"><br><br>
    <label for="CEP">CEP:</label>
    <input type="text" size="40" placeholder="  Informe o CEP"><br><br>
    <label for="complemento">Complemento:</label>
    <input type="text" size="40" placeholder="  Escreva algo para complementar (opcional)"><br><br>
    <label for="cidade">Cidade:</label>
    <input type="text" size="40" placeholder="  Informe a cidade"><br><br>
    <label for="uf">UF:</label>
    <select name="estado" id="uf">
      <option value="0">  Selecione sua Unid. de Federação</option><br>
      <optgroup label="Norte">
        <option value="1">AC</option>
        <option value="2">AM</option>
        <option value="3">AP</option>
        <option value="4">PA</option>
        <option value="5">RO</option>
        <option value="6">RR</option>
        <option value="7">TO</option>
      </optgroup>
      <optgroup label="Nordeste">
        <option value="8">AL</option>
        <option value="9">BA</option>
        <option value="10">CE</option>
        <option value="11">MA</option>
        <option value="12">PI</option>
        <option value="13">PE</option>
        <option value="14">PB</option>
        <option value="15">RN</option>
        <option value="16">SE</option>
      </optgroup>
      <optgroup label="Centro-Oeste">
        <option value="17">GO</option>
        <option value="18">MT</option>
        <option value="19">MS</option>
        <option value="20">DF</option>
      </optgroup>
      <optgroup label="Sudeste">
        <option value="21">ES</option>
        <option value="22">MG</option>
        <option value="23">RJ</option>
        <option value="24">SP</option>
      </optgroup>
      <optgroup label="Sul">
        <option value="25">PR</option>
        <option value="26">RS</option>
        <option value="27">SC</option>
      </optgroup>
    </select>
    <br><br>
    <div class="button"> <input type="submit" value="Confirmar">
    </div><br>
  </div>
  