<div class="form"> 
    <h1>Cadastro Usuário</h1><br>
    <h2><b>Registrar Usuário</b></h2><br><br> 
    <label for="Nome">Nome:</label> 
    <input type="text" size="48" placeholder=" Informe o nome do usuário"><br><br>
    <label for="Telefone">Telefone:</label>
    <input type="number" size="40" placeholder=" Informe o telefone do usuário"><br><br>
    <label for="Rua">Nome da rua:</label>
    <input type="text" size="35" placeholder=" Informe o nome da rua"><br><br>
    <label for="Número">Número:</label>
    <input type="number" size="45" placeholder=" Informe o número da casa"><br><br>
    <label for="Bairro">Bairro:</label>
    <input type="text" size="45" placeholder=" Informe seu bairro"><br><br>
    <label for="CEP">CEP:</label>
    <input type="number" size="45" placeholder=" Informe o seu CEP"><br><br>
    <label for="Cidade">Cidade:</label>
    <input type="text" size="45" placeholder=" Informe sua cidade"><br><br>
    <label for="UF">UF:</label>
    <input type="text" size="45" placeholder=" Informe sua UF"><br><br>
    <label for="Tipo:"> Tipo:</label> &nbsp;
    <label for="cliente"> Cliente</label>
    <input type="radio" name="opcao" id="op1">
    <label for="autor"> Autor</label>
    <input type="radio" name="opcao" id="op1">
    <label for="funcionario"> Funcionário</label> 
    <input type="radio" name="opcao" id="op1">
    <label for="editora"> Editora</label> 
    <input type="radio" name="opcao" id="op1">
    <br><br>
    <label for="Username"> Username:</label>
    <input type="text" size="45" placeholder=" Informe seu username"><br><br>
    <label for="Password"> Password:</label>
    <input type="text" size="45" placeholder=" Informe sua senha"><br><br>
    <div class="button"> <input type="submit" value="Confirmar">
    </div><br>