<div>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" style="width: 100%;" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active bg-info">
       <img src="../../../assets/imagens/Logo_miyas.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Bem vindo!</h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagens/fundo4.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption">
            <h1>Cadastre os autores de sua preferência!</h1>
            
            <p><a class="btn btn-lg btn-primary" href="cadautor">Cadastre aqui</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagens/fundo2.png" class="d-block w-100" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Cadastre editoras!</h1>
           
            <p><a class="btn btn-lg btn-primary" href="cadeditora">Cadastre aqui</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/imagens/fundo.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Cadastre os livros que mais te agradam!</h1>
           
            <p><a class="btn btn-lg btn-primary" href="cadlivro">Cadastre aqui</a></p>
          </div>
        </div>
      </div>
      <!--<div class="carousel-item">
        <img src="../../../assets/imagens/usuarios.png" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Cadastre os usuarios aqui!</h1>
            <p><a class="btn btn-lg btn-primary" href="cadusuario">Cadastre aqui</a></p>
          </div>
        </div>
      </div>-->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div>
  <ul>
    <li *ngFor="let autor of autores">
        {{ autor.nome }} ({{ autor.nacionalidade }})
    </li>
</ul>
</div>