*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: sans-serif;
  }
   form{
     background-color:#C87DFA;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
  }
  .form{
    background: #E6E6FA;
    width: 50%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    border: 4px solid #C87DFA;
    border-radius: 10px;
    margin-top: 125px;
  }
  h1{
    background: #C87DFA;
  }
  input,select{
    border-radius: 10px;
    height: 30px;
    border: none;
  }
 input[type="submit"]:hover{
    background:#C87DFA;
    color: #fff;
  }