<div class="form"> 
    <h1>Cadastro Funcionário</h1><br>
    <h2><b>Registrar Funcionário</b></h2><br><br> 
   <label for="data">Data de Admissão:</label>
    <input type="date" name="data" id="data"><br><br>
    <label for="salario">Salário: </label>
    <input type="number" size="45" placeholder=" Informe o salário"><br><br>
    <label for="cargo:">Cargo:</label> &nbsp;
    <label for="atendente">Atendente</label>
    <input type="radio" name="opcao" id="op1">
    <label for="repositor">Repositor</label>
    <input type="radio" name="opcao" id="op1">
    <label for="logistíca">Logística</label>
    <input type="radio" name="opcao" id="op1">
    <label for="gestor">Gestor</label>  
    <input type="radio" name="opcao" id="op1">
    <br><br>
    <div class="button"> <input type="submit" value="Confirmar">
    </div><br>

    
